In [3]:
import pandas as pd

In [4]:
### Load Dataset

In [5]:
file_url = "https://bit.ly/ds01-weight-history"
data = pd.read_csv(file_url, index_col = "회차")

In [6]:
data
data.head(3)
data.tail()

     이름         측정일   몸무게  단위   담당   지점
회차
5   강성희  2019-01-05  76.2  kg  김지수  강남구
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

## 기본연산

In [6]:
data["몸무게"].mean()
data["몸무게"].min()
data["몸무게"].max()
data["몸무게"].describe()

count     6.000000
mean     75.833333
std       0.492612
min      75.000000
25%      75.700000
50%      75.850000
75%      76.150000
max      76.400000
Name: 몸무게, dtype: float64

In [7]:
data["지점"].replace("강남구", "강남")

회차
1     강남
2     강남
3     강남
4    여의도
5     강남
6    여의도
7    여의도
8    여의도
9    여의도
Name: 지점, dtype: object

In [8]:
data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04   NaN  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수  강남구
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [7]:
data["지점"] = data["지점"].replace("강남구", "강남")

In [10]:
data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04   NaN  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수   강남
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [8]:
data["몸무게"] = data["몸무게"].fillna(75.8)

In [12]:
data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04  75.8  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수   강남
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07  75.8  kg  최재우  여의도
8   강성희  2019-01-08  75.8  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [39]:
data["몸무게(prev)"] = data["몸무게"].shift(+1)
data["몸무게(next)"] = data["몸무게"].shift(-1)
data

,이름,측정일,몸무게,단위,담당,지점,지역,결제,과체중,상태,몸무게(gram),몸무게(prev),몸무게(next)
회차,,,,,,,,,,,,,
1,강성희,2019-01-01,76.4,kg,김지수,강남,부산,True,True,과체중,76400.0,NaN,75.7
2,강성희,2019-01-02,75.7,kg,김지수,강남,부산,True,False,정상,75700.0,76.4,76.0
3,강성희,2019-01-03,76.0,kg,김지수,강남,부산,False,True,과체중,76000.0,75.7,75.8
4,강성희,2019-01-04,75.8,kg,최재우,여의도,부산,True,False,정상,75800.0,76.0,76.2
5,강성희,2019-01-05,76.2,kg,김지수,강남,부산,False,True,과체중,76200.0,75.8,75.7
6,강성희,2019-01-06,75.7,kg,최재우,여의도,부산,False,False,정상,75700.0,76.2,75.8
7,강성희,2019-01-07,75.8,kg,최재우,여의도,부산,True,False,정상,75800.0,75.7,75.8
8,강성희,2019-01-08,75.8,kg,김민철,여의도,부산,True,False,정상,75800.0,75.8,75.0
9,강성희,2019-01-09,75.0,kg,김민철,여의도,부산,True,False,정상,75000.0,75.8,NaN

In [10]:
data["측정일"] = pd.to_datetime(data["측정일"])
data["측정일"].dt.year

회차
1    2019
2    2019
3    2019
4    2019
5    2019
6    2019
7    2019
8    2019
9    2019
Name: 측정일, dtype: int64

In [11]:
data["측정일"].dt.month

회차
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: 측정일, dtype: int64

In [12]:
data["측정일"].dt.day

회차
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: 측정일, dtype: int64

### 행렬 검색

In [17]:
data[["이름","측정일","몸무게"]]

     이름        측정일   몸무게
회차
1   강성희 2019-01-01  76.4
2   강성희 2019-01-02  75.7
3   강성희 2019-01-03  76.0
4   강성희 2019-01-04  75.8
5   강성희 2019-01-05  76.2
6   강성희 2019-01-06  75.7
7   강성희 2019-01-07  75.8
8   강성희 2019-01-08  75.8
9   강성희 2019-01-09  75.0

In [104]:
data["회차"]

KeyError: '회차'

In [13]:
data.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64', name='회차')

In [14]:
## loc = locate
data.loc[2]

이름                           강성희
측정일          2019-01-02 00:00:00
몸무게                         75.7
단위                            kg
담당                           김지수
지점                            강남
몸무게(prev)                   76.4
몸무게(next)                     76
Name: 2, dtype: object

In [15]:
data.loc[[1,3,6]]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8

In [16]:
session_ids = [1,3,6]
data.loc[session_ids]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8

In [22]:
data.loc[1:7]  ## List[1:7]은 1-6까지를 가져오는 반면, Pandas에서는 1-7까지 가져온다는 것에 주의!

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8

In [23]:
data.loc[1, "이름"]   ## data.loc[1]["이름"] 보다 성능이 더 좋다 -> [] 갯수에 따라 실행속도가 결정

'강성희'

In [24]:
%timeit data.loc[1]["이름"]

241 µs ± 54.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [25]:
%timeit data.loc[1, "이름"]

8.62 µs ± 188 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [26]:
%timeit data.at[1, "이름"]   # loc보다 빠르긴 한데 2개 이상의 데이터를 못 가져와서 현실적으로 잘 안 쓴다.

5.12 µs ± 257 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [31]:
columns = ["이름", "측정일", "몸무게"]
session_ids = [1,3,7]
data.loc[session_ids, columns]

     이름        측정일   몸무게
회차
1   강성희 2019-01-01  76.4
3   강성희 2019-01-03  76.0
7   강성희 2019-01-07  75.8

## Index

In [32]:
data["담당"] == "김지수"

회차
1     True
2     True
3     True
4    False
5     True
6    False
7    False
8    False
9    False
Name: 담당, dtype: bool

In [33]:
data[data["담당"] == "김지수"]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수  강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수  강남       75.7       75.8
5   강성희 2019-01-05  76.2  kg  김지수  강남       75.8       75.7

In [34]:
data[data["담당"].isin(["최재우", "김민철"])]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [35]:
data[data["담당"].str.contains("김")]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [17]:
data[data["몸무게(prev)"].isnull()]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7

In [18]:
data[data["몸무게(prev)"].notnull()]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       75.8        NaN

In [19]:
data[(data["몸무게"] > 75.5) & (data["담당"] == "김지수")]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수  강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수  강남       75.7       75.8
5   강성희 2019-01-05  76.2  kg  김지수  강남       75.8       75.7

In [20]:
high = (data["몸무게"] > 75.5)
kim = (data["담당"] == "김지수")
data[high & kim]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수  강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수  강남       75.7       75.8
5   강성희 2019-01-05  76.2  kg  김지수  강남       75.8       75.7

In [21]:
data[high | kim]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       75.8
4   강성희 2019-01-04  75.8  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       75.8       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       75.8
7   강성희 2019-01-07  75.8  kg  최재우  여의도       75.7       75.8
8   강성희 2019-01-08  75.8  kg  김민철  여의도       75.8       75.0

In [41]:
data.loc[data["담당"] == "김지수", "몸무게"]

회차
1    76.4
2    75.7
3    76.0
5    76.2
Name: 몸무게, dtype: float64

In [42]:
data.loc[data["담당"] == "김지수", ["이름", "측정일","몸무게"]]

     이름        측정일   몸무게
회차
1   강성희 2019-01-01  76.4
2   강성희 2019-01-02  75.7
3   강성희 2019-01-03  76.0
5   강성희 2019-01-05  76.2

## Pivot table

In [43]:
pd.pivot_table(data, index = "담당", values = "몸무게")

           몸무게
담당
김민철  75.400000
김지수  76.075000
최재우  75.766667

In [44]:
pd.pivot_table(data, index = ["지점", "담당"], values = "몸무게")

               몸무게
지점  담당
강남  김지수  76.075000
여의도 김민철  75.400000
    최재우  75.766667

In [45]:
pd.pivot_table(data, index = ["지점", "담당"], values = "몸무게", aggfunc = 'sum')

           몸무게
지점  담당
강남  김지수  304.3
여의도 김민철  150.8
    최재우  227.3

In [46]:
pd.pivot_table(data, index = ["지점", "담당"], values = ["몸무게", "?", "?"], aggfunc = ['mean', 'sum'])

KeyError: '?'

## 컬럼 추가 & 수정

In [33]:
data["지역"] = "서울"
data
data["지역"] = "부산"   ## 수정은 추가와 완전 동일하다.
data

     이름        측정일   몸무게  단위   담당   지점  지역     결제    과체중   상태
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남  부산   True   True  과체중
2   강성희 2019-01-02  75.7  kg  김지수   강남  부산   True  False   정상
3   강성희 2019-01-03  76.0  kg  김지수   강남  부산  False   True  과체중
4   강성희 2019-01-04  75.8  kg  최재우  여의도  부산   True  False   정상
5   강성희 2019-01-05  76.2  kg  김지수   강남  부산  False   True  과체중
6   강성희 2019-01-06  75.7  kg  최재우  여의도  부산  False  False   정상
7   강성희 2019-01-07  75.8  kg  최재우  여의도  부산   True  False   정상
8   강성희 2019-01-08  75.8  kg  김민철  여의도  부산   True  False   정상
9   강성희 2019-01-09  75.0  kg  김민철  여의도  부산   True  False   정상

In [34]:
data["결제"] = [True, True, False, True, False, False, True, True, True]
data

     이름        측정일   몸무게  단위   담당   지점  지역     결제    과체중   상태
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남  부산   True   True  과체중
2   강성희 2019-01-02  75.7  kg  김지수   강남  부산   True  False   정상
3   강성희 2019-01-03  76.0  kg  김지수   강남  부산  False   True  과체중
4   강성희 2019-01-04  75.8  kg  최재우  여의도  부산   True  False   정상
5   강성희 2019-01-05  76.2  kg  김지수   강남  부산  False   True  과체중
6   강성희 2019-01-06  75.7  kg  최재우  여의도  부산  False  False   정상
7   강성희 2019-01-07  75.8  kg  최재우  여의도  부산   True  False   정상
8   강성희 2019-01-08  75.8  kg  김민철  여의도  부산   True  False   정상
9   강성희 2019-01-09  75.0  kg  김민철  여의도  부산   True  False   정상

In [35]:
data["몸무게(gram)"] = data["몸무게"] * 1000
data

     이름        측정일   몸무게  단위   담당   지점  지역     결제    과체중   상태  몸무게(gram)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남  부산   True   True  과체중    76400.0
2   강성희 2019-01-02  75.7  kg  김지수   강남  부산   True  False   정상    75700.0
3   강성희 2019-01-03  76.0  kg  김지수   강남  부산  False   True  과체중    76000.0
4   강성희 2019-01-04  75.8  kg  최재우  여의도  부산   True  False   정상    75800.0
5   강성희 2019-01-05  76.2  kg  김지수   강남  부산  False   True  과체중    76200.0
6   강성희 2019-01-06  75.7  kg  최재우  여의도  부산  False  False   정상    75700.0
7   강성희 2019-01-07  75.8  kg  최재우  여의도  부산   True  False   정상    75800.0
8   강성희 2019-01-08  75.8  kg  김민철  여의도  부산   True  False   정상    75800.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도  부산   True  False   정상    75000.0

In [36]:
data["과체중"] = data["몸무게"] > 75.8
data

     이름        측정일   몸무게  단위   담당   지점  지역     결제    과체중   상태  몸무게(gram)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남  부산   True   True  과체중    76400.0
2   강성희 2019-01-02  75.7  kg  김지수   강남  부산   True  False   정상    75700.0
3   강성희 2019-01-03  76.0  kg  김지수   강남  부산  False   True  과체중    76000.0
4   강성희 2019-01-04  75.8  kg  최재우  여의도  부산   True  False   정상    75800.0
5   강성희 2019-01-05  76.2  kg  김지수   강남  부산  False   True  과체중    76200.0
6   강성희 2019-01-06  75.7  kg  최재우  여의도  부산  False  False   정상    75700.0
7   강성희 2019-01-07  75.8  kg  최재우  여의도  부산   True  False   정상    75800.0
8   강성희 2019-01-08  75.8  kg  김민철  여의도  부산   True  False   정상    75800.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도  부산   True  False   정상    75000.0

In [37]:
data.loc[data["몸무게"] > 75.8, "상태"] = "과체중"
data.loc[data["몸무게"] <= 75.8, "상태"] = "정상"

data

     이름        측정일   몸무게  단위   담당   지점  지역     결제    과체중   상태  몸무게(gram)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남  부산   True   True  과체중    76400.0
2   강성희 2019-01-02  75.7  kg  김지수   강남  부산   True  False   정상    75700.0
3   강성희 2019-01-03  76.0  kg  김지수   강남  부산  False   True  과체중    76000.0
4   강성희 2019-01-04  75.8  kg  최재우  여의도  부산   True  False   정상    75800.0
5   강성희 2019-01-05  76.2  kg  김지수   강남  부산  False   True  과체중    76200.0
6   강성희 2019-01-06  75.7  kg  최재우  여의도  부산  False  False   정상    75700.0
7   강성희 2019-01-07  75.8  kg  최재우  여의도  부산   True  False   정상    75800.0
8   강성희 2019-01-08  75.8  kg  김민철  여의도  부산   True  False   정상    75800.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도  부산   True  False   정상    75000.0

## 컬럼 삭제하기

In [41]:
## Delete row
data.drop(1, axis = "index")

## Delete column
data.drop("몸무게(prev)", axis = "columns")
data

     이름        측정일   몸무게  단위   담당   지점  지역     결제    과체중   상태  몸무게(prev)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남  부산   True   True  과체중        NaN
2   강성희 2019-01-02  75.7  kg  김지수   강남  부산   True  False   정상       76.4
3   강성희 2019-01-03  76.0  kg  김지수   강남  부산  False   True  과체중       75.7
4   강성희 2019-01-04  75.8  kg  최재우  여의도  부산   True  False   정상       76.0
5   강성희 2019-01-05  76.2  kg  김지수   강남  부산  False   True  과체중       75.8
6   강성희 2019-01-06  75.7  kg  최재우  여의도  부산  False  False   정상       76.2
7   강성희 2019-01-07  75.8  kg  최재우  여의도  부산   True  False   정상       75.7
8   강성희 2019-01-08  75.8  kg  김민철  여의도  부산   True  False   정상       75.8
9   강성희 2019-01-09  75.0  kg  김민철  여의도  부산   True  False   정상       75.8

In [28]:
data = data.drop("몸무게(prev)", axis = "columns")
data

,이름,측정일,몸무게,단위,담당,지점,몸무게(next),지역,결제,몸무게(gram),과체중,상태
회차,,,,,,,,,,,,
1,강성희,2019-01-01,76.4,kg,김지수,강남,75.7,부산,True,76400.0,True,과체중
2,강성희,2019-01-02,75.7,kg,김지수,강남,76.0,부산,True,75700.0,False,정상
3,강성희,2019-01-03,76.0,kg,김지수,강남,75.8,부산,False,76000.0,True,과체중
4,강성희,2019-01-04,75.8,kg,최재우,여의도,76.2,부산,True,75800.0,False,정상
5,강성희,2019-01-05,76.2,kg,김지수,강남,75.7,부산,False,76200.0,True,과체중
6,강성희,2019-01-06,75.7,kg,최재우,여의도,75.8,부산,False,75700.0,False,정상
7,강성희,2019-01-07,75.8,kg,최재우,여의도,75.8,부산,True,75800.0,False,정상
8,강성희,2019-01-08,75.8,kg,김민철,여의도,75.0,부산,True,75800.0,False,정상
9,강성희,2019-01-09,75.0,kg,김민철,여의도,NaN,부산,True,75000.0,False,정상

In [40]:
data = data.drop(["몸무게(next)", "몸무게(gram)"], axis = "columns")

In [32]:
data

     이름        측정일   몸무게  단위   담당   지점  지역     결제    과체중   상태
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남  부산   True   True  과체중
2   강성희 2019-01-02  75.7  kg  김지수   강남  부산   True  False   정상
3   강성희 2019-01-03  76.0  kg  김지수   강남  부산  False   True  과체중
4   강성희 2019-01-04  75.8  kg  최재우  여의도  부산   True  False   정상
5   강성희 2019-01-05  76.2  kg  김지수   강남  부산  False   True  과체중
6   강성희 2019-01-06  75.7  kg  최재우  여의도  부산  False  False   정상
7   강성희 2019-01-07  75.8  kg  최재우  여의도  부산   True  False   정상
8   강성희 2019-01-08  75.8  kg  김민철  여의도  부산   True  False   정상
9   강성희 2019-01-09  75.0  kg  김민철  여의도  부산   True  False   정상